

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245, 245, 245);

}

.container {
    margin-bottom: 15px;
}



.navbar {

    padding: 0.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(206, 134, 40); */
    font-family: 'Passions Conflict', cursive;
   
    

}

.logo p {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    }


.nav-iteam {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.menu-img {
    width: 1.5rem;
    height: 1.5rem;
}

.menu {
    margin: 5px;
    display: flex;
    column-gap: 1.5rem;
}
.search input {
    height: 5vh;
    width: 17vw;
    border-radius: 4px;
}

.notification {
    /* border: 1px solid black; */
    display: flex;
    height: 3vh;
    margin-top: 5px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
}

.top-section {
    display: flex;
}

.story_section {
    margin-top: 1rem;
    margin-left: 15rem;
    width: 420px;
    height: 15vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    column-gap: 15px;
    text-align: center;
    padding: 0.8rem;
    cursor: pointer;
}

.story-box img {
    width: 65px;
    height: 60px;
    border-radius: 50%;
}

.post_template {
    row-gap: 120px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.post-section {
    border: 1px solid black;

    width: 425px;
    height: 85vh;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15rem;
    margin-top: -80px;
    overflow: hidden;

}

.post_user {
    border: 1px solid black;
    height: 5vh;
    width: 420px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.post_user p {
    padding: 2px;
    margin: 10px;
    
}

.post {
    /* border: 1px solid black; */
    width: 99%;
    border-radius: 5px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 1px;
    align-items: center;
    justify-content: center;

}

.post img {
    border-radius: 5px;
    width: 420px;
    height: 500px;
    cursor: pointer;
}

.action-button {
    margin-top: 10px;
    display: flex;
    column-gap: 25px;
    /* border: 1px solid black; */
    cursor: pointer;


}

.action-right {
    margin-left: 14.5rem;

}

.comment {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;

    margin-top: 10px;
}

.user-section {
    display: flex;
    flex-direction: column;

}

.user_box {
    margin-top: 1rem;
    margin-left: 5rem;
    width: 420px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.8rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}

.suggestion-section {
    /* border: 2px solid black; */
    display: flex;

    margin-left: 5rem;
    border-radius: 10px;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
}

.suggestion-box {
    /* border: 2px solid black; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 20px;
    cursor: pointer;
}

.follow-user {
    display: flex;
    float: left;
    column-gap: 35px;
    
    /* border: 2px solid black; */

}

.Refresh{
    
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Refresh img{
    cursor: pointer;
    width: 50px;
   
}